<div class="page">
  <h1 class="title">
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="filteredBranches$ | async as dataRecords; else isLoading" class="container">
    <div class="sectionA">
      <ng-container *ngIf="dataRecords.length === 0">
        <div class="nomatch">
          Sorry, we do not have a Branch in that City, please try again.
        </div>
      </ng-container>
      <ng-container *ngIf="!isLoading && dataRecords.length > 0">
        <div class="subtitle">
          Branches 
          <span class="smallItalic">Click on Branch Name to see address and phone</span>
        </div>
        <ul class="list">
          <li *ngFor="let item of dataRecords">
            <div class="item" (click)="toggle(item)">
              {{ item.name }}
              <div *ngIf="item.isSelected" class="address">
                <div>
                  {{ item.streetAddress | titlecase }}
                </div>
                <div>
                  {{ item.city | titlecase }}, {{ item.subDivision | titlecase }} {{ item.country }}
                  {{ item.postalCode }}
                </div>
                <div>
                  {{ item.phoneNumber }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </ng-container>
      <ng-container *ngIf="isLoading">
        <div class="alert alert-dark">
          Loading...
        </div>
      </ng-container>
    </div>
    <div class="sectionB">
      <div class="filtersection">
        <input type="text" [formControl]="cityFilter" placeholder="Search by City...">
        <ng-container *ngIf="dataRecords.length > 0 && cityFilter.value.length > 0">
          <div class="smallItalic">
            {{ dataRecords.length }} matches
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>